{% extends 'base.html.twig' %}

{% block title %}O nas - Lubelskie Dni Fantastyki{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8 mt-16 bg-base-300 bg-opacity-50">
        <h1 class="text-5xl font-bold medieval-font uppercase">Federacja Fantastyki Feniks</h1>
        <p class="mt-4 text-lg">Organizatorem Lubelskich Dni Fantastyki jest Federacja Fantastyki Feniks. Federacja Fantastyki Feniks jest stowarzyszeniem zarejestrowanym w sierpniu 2021 roku. Zajmuje się szeroko pojęta fantastyką we wszystkich jej aspektach: literaturą, filmem, komiksem, grami bez prądu, grami wideo, muzyką i sztuką.</p>
        <p class="mt-4 text-lg">Organizacja kontynuuje działalność Lubelskiego Stowarzyszenia Fantastyki „Cytadela Syriusza”, dbając o tradycję i dokonania lubelskiego fandomu fantastycznego. Organizuje wiele różnych inicjatyw skierowanych do miłośników z całego świata.</p>
        <p class="mt-4 text-lg">Wśród organizowanych eventów są: festiwale i konwenty, spotkania autorskie, prelekcje, panele dyskusyjne, konkursy i turnieje, pokazy i prezentacje, warsztaty i szkolenia, wernisaże i wystawy.</p>
        <p class="mt-4 text-lg">Najważniejszą imprezą naszego stowarzyszenia, jedną z największych w Polsce, jest Ogólnopolski Festiwal Fantastyki Falkon, który jest organizowany od 2000 roku. Ostatnia edycja odbyła się w lutym 2024 roku i przyciągnęła ponad 2500 uczestników z całego kraju. Zajrzyj na <a href="http://www.festiwalfalkon.pl" class="text-blue-500">www.festiwalfalkon.pl</a> i dowiedz się więcej.</p>
        <p class="mt-4 text-lg">Zapraszamy na nasze regularne spotkania, które organizujemy co tydzień: poświęcone fantastyce w każdy wtorek w godzinach 18-22 oraz spotkania poświęcone grom bez prądu w każdą środę w godzinach 17-22. Spotkania odbywają się cotygodniowo w Galerii Labirynt przy ul. Popiełuszki 5 w Lublinie. Ponadto prowadzimy portal internetowy Paradoks (<a href="http://paradoks.net.pl" class="text-blue-500">paradoks.net.pl</a>), codziennie aktualizowany, poświęcony kulturze, w szczególności fantastyce, który polecamy i zachęcamy do czytania.</p>
    </div>
{% endblock %}
