{% extends 'base.html.twig' %}

{% block title %}Kontakt - Lubelskie Dni Fantastyki{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8 mt-16">
        <h1 class="text-5xl font-bold medieval-font uppercase">Kontakt</h1>
        <div class="mt-8">
            <h2 class="text-3xl font-bold">Skontaktuj się z nami</h2>
            <p class="mt-4 text-lg">Błażej Pasternak: <a href="mailto:b.pasternak.ak@gmail.com" class="text-blue-500">b.pasternak.ak@gmail.com</a></p>
            <p class="mt-2 text-lg">Krzysztof Księski: <a href="mailto:krzysztofandrzejksieski@gmail.com" class="text-blue-500">krzysztofandrzejksieski@gmail.com</a></p>
        </div>
        <div class="mt-8">
            <h2 class="text-3xl font-bold">Federacja Fantastyki Feniks</h2>
            <p class="mt-4 text-lg">ul. Zamkowa 30, 24-200 Bełżyce</p>
            <p class="mt-2 text-lg">NIP: 7133114781</p>
            <p class="mt-2 text-lg">KRS: 0000918702</p>
            <p class="mt-2 text-lg">REGON: 389804079</p>
            <p class="mt-2 text-lg">Nr rachunku bankowego: 05 1870 1045 2083 1070 9197 0001</p>
        </div>
        <div class="mt-8">
            <h2 class="text-3xl font-bold">Znajdź nas na Facebooku</h2>
            <a href="https://www.facebook.com/FederacjaFantastykiFeniks" class="text-blue-500">Federacja Fantastyki Feniks na Facebooku</a>
        </div>
    </div>
{% endblock %}
