{% extends 'base.html.twig' %}

{% block title %}Program - Lubelskie Dni Fantastyki{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8 mt-16">
        <h1 class="text-5xl font-bold medieval-font uppercase">Program</h1>
        <p class="mt-4 text-lg">Na program złożą się dwie nitki programowe w salach prelekcyjnych oraz przestrzeń do grania, czyli games room. Łącznie odbędzie się blisko 60 punktów programu.</p>
        <p class="mt-2 text-lg">Na program złożą się: ciekawe prelekcje popularnonaukowe, panele dyskusyjne o interesujących zagadnieniach, spotkania autorskie z twórcami literatury fantastycznej oraz konkursy tematyczne z nagrodami rzeczowymi.</p>
        <p class="mt-2 text-lg">Z kolei w games roomie odbędzie się szereg turniejów, również z nagrodami. Ponadto w games roomie odbywać się będą pokazy i nauka w gry karciane i bitewne, będą również oczywiście gry planszowe oraz sesje rpg. Na miejscu będzie możliwość wypożyczenia gier spośród kilkuset dostępnych egzemplarzy. Games room będzie czynny przez cały czas trwania imprezy.</p>
    </div>
{% endblock %}