{% extends 'base.html.twig' %}

{% block title %}Program - Lubelskie Dni Fantastyki{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8 mt-16">
        <h2 class="text-5xl font-bold medieval-font uppercase">Program</h2>
        <p class="mt-4 text-lg">Na program złożą się dwie nitki programowe w salach prelekcyjnych oraz przestrzeń do
            grania, czyli games room. Łącznie odbędzie się blisko 60 punktów programu.</p>
        <p class="mt-2 text-lg">Na program złożą się: ciekawe prelekcje popularnonaukowe, panele dyskusyjne o
            interesujących zagadnieniach, spotkania autorskie z twórcami literatury fantastycznej oraz konkursy
            tematyczne z nagrodami rzeczowymi.</p>
        <p class="mt-2 text-lg">Z kolei w games roomie odbędzie się szereg turniejów, również z nagrodami. Ponadto w
            games roomie odbywać się będą pokazy i nauka w gry karciane i bitewne, będą również oczywiście gry planszowe
            oraz sesje rpg. Na miejscu będzie możliwość wypożyczenia gier spośród kilkuset dostępnych egzemplarzy. Games
            room będzie czynny przez cały czas trwania imprezy.</p>
    </div>

    <div class="container mx-auto px-4 py-8 mt-10">
        <section class="p-6 rounded shadow-md">
            <h2 class="text-2xl font-bold mb-4">Tabela programowa</h2>
            <div class="text-center mt-6">
                <a href="{{ asset('files/PROGRAM_TABELA.docx') }}" download="PROGRAM_TABELA.docx" class="btn btn-base btn-outline">Pobierz Program</a>
                <a href="{{ asset('files/PROGRAM_Z_OPISAMI.docx') }}" download="PROGRAM_Z_OPISAMI.docx" class="btn btn-base btn-outline">Pobierz pełny opis Programu</a>
            </div>
        </section>
    </div>
{% endblock %}