{% extends 'base.html.twig' %}

{% block title %}Program - Lubelskie Dni Fantastyki{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8 mt-16">
        <h2 class="text-5xl font-bold medieval-font uppercase">Program</h2>
        <p class="mt-4 text-lg">Na program złożą się dwie nitki programowe w salach prelekcyjnych oraz przestrzeń do
            grania, czyli games room. Łącznie odbędzie się blisko 60 punktów programu.</p>
        <p class="mt-2 text-lg">Na program złożą się: ciekawe prelekcje popularnonaukowe, panele dyskusyjne o
            interesujących zagadnieniach, spotkania autorskie z twórcami literatury fantastycznej oraz konkursy
            tematyczne z nagrodami rzeczowymi.</p>
        <p class="mt-2 text-lg">Z kolei w games roomie odbędzie się szereg turniejów, również z nagrodami. Ponadto w
            games roomie odbywać się będą pokazy i nauka w gry karciane i bitewne, będą również oczywiście gry planszowe
            oraz sesje rpg. Na miejscu będzie możliwość wypożyczenia gier spośród kilkuset dostępnych egzemplarzy. Games
            room będzie czynny przez cały czas trwania imprezy.</p>
    </div>

    <div class="container mx-auto px-4 py-8 mt-10">
        <section class="p-6 rounded shadow-md">
            <h2 class="text-2xl font-bold mb-4">Tabela programowa</h2>
            <table class="table w-full">
                <thead>
                <tr class="bg-base-200">
                    <th class="border text-xl px-4 py-2">Godzina</th>
                    <th class="border text-xl px-4 py-2">Sala Widowiskowa</th>
                    <th class="border text-xl px-4 py-2">Sala Mała</th>
                    <th class="border text-xl px-4 py-2">Games Room (Hol)</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-base-300">
                    <td colspan="4" class="text-center font-bold border">Sobota</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">9.45</td>
                    <td class="border px-4 py-2">Oficjalne otwarcie konwentu</td>
                    <td class="border px-4 py-2"></td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">10.00</td>
                    <td class="border px-4 py-2">Sekrety Sztucznej Inteligencji: Jak działa ChatGPT? - prof. Robert Trypuz</td>
                    <td class="border px-4 py-2">Konkurs muzyki z Anime - Paulina Shiro Różyło i Paulina "Asayake" Karwacka</td>
                    <td class="border px-4 py-2">
                        Games Room – pełen gier bez prądu! (do 20.00)
                        <br>Pokaz i nauka gry bitewnej PMC2670 (do 18.00)
                        <br>Warsztaty malowania figurek – Office of Gaming (do 20.00)
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">11.00</td>
                    <td class="border px-4 py-2"></td>
                    <td class="border px-4 py-2">American Dream - mistrzostwa świata w Star Wars Legion - Michał mroczny1313 Wiśniewski</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">12.00</td>
                    <td class="border px-4 py-2">Nić jako oś świata czyli o tym co ludzie namotali – Dr Agata Świdzińska</td>
                    <td class="border px-4 py-2">Magiczna ruda jako rdzeń fabuły serii Gothic – Adrian Skubiszewski</td>
                    <td class="border px-4 py-2">
                        Diuna Imperium – turniej (do 18.00)
                        <br>Star Wars unlimited – pokazy (od. 12.30 do 16.00)
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">13.00</td>
                    <td class="border px-4 py-2">Czy światy wirtualne są fikcyjne? Rozważania filozoficzne – Dr Piotr Lipski</td>
                    <td class="border px-4 py-2">Fantastyczny event – spotkanie autorskie z Krzysztofem Księskim</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">14.00</td>
                    <td class="border px-4 py-2">Dział zagraniczny "Nowej Fantastyki" poleca – Agnieszka Hałas</td>
                    <td class="border px-4 py-2">Gra Niezwyciężony (11 BitStudio) w ujęciu antropologicznym – dr Radosław Bomba</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">15.00</td>
                    <td class="border px-4 py-2">Shōgun Jamesa Clavella: obraz Japonii w przełomowym momencie dziejów? – Krzysztof Drozd</td>
                    <td class="border px-4 py-2">Od Planeswalkerów po Trenerów: Ewolucja Karcianych Gier Kolekcjonerskich – Michał Kowalczyk</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">16.00</td>
                    <td class="border px-4 py-2"></td>
                    <td class="border px-4 py-2">Kosmologia Elder Scrolls – Adrian Skubiszewski</td>
                    <td class="border px-4 py-2">
                        Dead by daylight – nauka gry (do 19.00)
                        <br>MTG: Vintage Cube – Michał Kowalczyk (do 20.00)
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">17.00</td>
                    <td class="border px-4 py-2">Kosmici religia i koniec świata? – Tomasz Winiarczyk</td>
                    <td class="border px-4 py-2">Moralność w popkulturze: Cel Uświęca Środki czy Droga Ponad Celem – Kacper Kinaj Janik - panel dyskusyjny</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">18.00</td>
                    <td class="border px-4 py-2">Konkurs: Fantastyczne Pokazywanki – Paweł Wójcik</td>
                    <td class="border px-4 py-2">Konkurs wiedzy o grach wideo – Bartek Kozak</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr class="bg-base-300">
                    <td colspan="4" class="text-center font-bold border">Niedziela</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">10.00</td>
                    <td class="border px-4 py-2">Eurowizja i jej fenomen – panel dyskusyjny</td>
                    <td class="border px-4 py-2">Jak zostać bohaterem czyli przedstawienie autorskiego systemu RPG - Legendy Ildeum – Czarek Krzyżanowski</td>
                    <td class="border px-4 py-2">
                        Games Room – pełen gier bez prądu! (do 20.00)
                        <br>Pokaz gry bitewnej STAR WARS: LEGION (do 13.00)
                        <br>Pokaz i nauka gry bitewnej PMC2670 (do 18.00)
                        <br>Pokazy gry karcianej Lorcana – Michał Kowalczyk
                        <br>Warsztaty malowania figurek – Office of Gaming (do 20.00)
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">11.00</td>
                    <td class="border px-4 py-2">Meksyk Prekolumbijski. Nie tylko Majowie i Aztekowie – Marcin Gutek</td>
                    <td class="border px-4 py-2">Historia amerykańskiego filmu science fiction w pigułce – Agata Maternowska</td>
                    <td class="border px-4 py-2">
                        Dice Throne – turniej (do 16.00)
                        <br>Turniej gry karcianej Lorcana – Michał Kowalczyk (do 16.00)
                    </td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">12.00</td>
                    <td class="border px-4 py-2">Polska Europa Świat w 2040 roku – panel dyskusyjny</td>
                    <td class="border px-4 py-2">Nadludzie G.R.R. Martina - kilka słów o Targaryenach – Błażej Pasternak</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">13.00</td>
                    <td class="border px-4 py-2">Tworzenie światowych gier – spotkanie autorskie z Adamem Kwapińskim</td>
                    <td class="border px-4 py-2">Jak zły jest Kombinat z Half Life? – Adrian Skubiszewski</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">14.00</td>
                    <td class="border px-4 py-2">Między Asgardem a Śródziemiem – elementy kultury wczesnośredniowiecznej Skandynawii w twórczości J.R.R.Tolkiena – Jeremi Kołecki (Cienie Dziejów)</td>
                    <td class="border px-4 py-2">KinitoPet – gra wirus – Paulina Shiro Różyło</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">15.00</td>
                    <td class="border px-4 py-2">Jak stworzyć grę planszową w która grają ludzie na całym świecie? – spotkanie autorskie z Adamem Kwapińskim</td>
                    <td class="border px-4 py-2">Projekt superżołnierz – Grzegorz Olifirowicz</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">16.00</td>
                    <td class="border px-4 py-2">Kosmologia Uniwersum Warcraft – Mateusz Tomczyk</td>
                    <td class="border px-4 py-2">Za co kochamy anime? – panel dyskusyjny</td>
                    <td class="border px-4 py-2">Karak – turniej</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">17.00</td>
                    <td class="border px-4 py-2">Co słychać w Śródziemiu? Rozmowy na temat nowych filmów książek i seriali w świecie Tolkiena – Jeremi Kołecki Błażej Pasternak – panel dyskusyjny</td>
                    <td class="border px-4 py-2">Znasz tę piosenkę? Konkurs Muzyczny - Krzysztof Księski</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">18.00</td>
                    <td class="border px-4 py-2">Duże ryby kontrAAAA małe indyki co się obecnie dzieje z game devem – Bartek Kozak – panel dyskusyjny</td>
                    <td class="border px-4 py-2"></td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">19.00</td>
                    <td class="border px-4 py-2"></td>
                    <td class="border px-4 py-2">Co jest zakazane w literaturze? – panel dyskusyjny</td>
                    <td class="border px-4 py-2"></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">20.00</td>
                    <td class="border px-4 py-2">ZAKOŃCZENIE KONWENTU</td>
                    <td class="border px-4 py-2"></td>
                    <td class="border px-4 py-2"></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center mt-6">
                <a href="{{ asset('files/PROGRAM_TABELA.docx') }}" download="PROGRAM_TABELA.docx" class="btn btn-base btn-outline">Pobierz Program</a>
                <a href="{{ asset('files/PROGRAM_Z_OPISAMI.docx') }}" download="PROGRAM_Z_OPISAMI.docx" class="btn btn-base btn-outline">Pobierz pełny opis Programu</a>
            </div>
        </section>
    </div>
{% endblock %}