@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.background-ldf {
    background: radial-gradient(circle at bottom, #15191E , #00053a)
}

html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}

.medieval-font {
    font-family: "MedievalSharp", cursive !important;
    text-shadow: 0 0 15px #00af93;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 10px rgb(0, 175, 147);
    }
    50% {
        text-shadow: 0 0 20px rgba(0, 175, 147);
    }
    100% {
        text-shadow: 0 0 10px rgba(0, 175, 147);
    }
}