<!DOCTYPE html>
<html lang="pl" data-theme="ldfy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lubelskie Dni Fantastyki{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="background-image content">
        {{ include('navbar.html.twig') }}
        <main class="">
            {% block body %}{% endblock %}
        </main>
    </div>

    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            &copy; 2024 Lubelskie Dni Fantastyki. Wszelkie prawa zastrzeżone.
        </div>
    </footer>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
